

/*.answbtns{*/
    /*float: right;*/
    /*position: relative;*/

    /*border: 5px solid;*/
    /*width: 48%;*/


/*}*/
.buttons{
    /*position: relative;*/
    /*width: 30%;*/
    /*float: left;*/
    border: 5px solid;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    cursor: pointer;

    /*            left: 0px;
                bottom: 0px;
                height: 64px;*/
    /*  overflow: hidden;*/
    /*   border: 5px solid;*/

}






.questionContainer2-css{
    position: relative;
    /*  bottom: 100px;*/
    height: 204px;
    border-top: 3px solid;
    background: #E0E0E0;
}

.questionBoxes2-css{

    border: 5px solid;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;

    background: #22a5d8;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.questionBoxes2-css:hover {
    cursor: pointer;
    color: #3c3c3c;
    border-color: rgba(170, 170, 170, 0.7);
    background-color: rgba(130, 130, 130, 0.7);
    text-shadow: 1px 1px 0 #f4f4f4;
    box-shadow: inset 0 1px 0 rgba(200, 200, 200, 0.7), inset 1px 0 0 rgba(200, 200, 200, 0.7), inset -1px 0 0 rgba(200, 200, 200, 0.7), 0 1px 0 rgba(140, 140, 140, 0.7);
}

