body {

    font-family: 'Fjalla One', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #405166 0%, #656f6f 100%) no-repeat center center fixed;
    /*background-image: url("/pictures/brautpaar.jpeg");*/
    /*background-repeat:no-repeat;*/
    /*background-position:50% 20%;*/
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v4/SHXJdWnWW6HDq-6DpcG8PwsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.gstatic.com/s/fjallaone/v4/rxxXUYj4oZ6Q5oDJFtEd6gzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.infobar {
    background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ;
    /*background-color: grey;*/
    padding: 10px;
    border: 1px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.questionAndAnswerBackground{
    background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ;
    /*background-color: grey;*/
    padding: 10px;
    border: 1px solid black;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    /*z-index: -60;*/
}

.infront{
    z-index: -100;
    /*visibility: hidden;*/
    display:none;
}
.answerbar {
    padding: 10px;
    text-align: center;
    /*background: white ; !*#656f6f,#405166*!*/
    /*background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ; !*#656f6f,#405166*!*/
    font-size: 35px;
    /*top:20%;*/
    /*left:10%;*/
    /*position: fixed;*/
    /*height: 35%;*/
    z-index: -5;
    /*-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.erster{
    /*position: relative;*/
    font-size: 22px;
    /*float: left;*/
    color: black;
    transition: width 1s, height 1s, margin-top 1s, margin-left 1s;
    /*top:0px;*/
    /*left: 30px;*/
    /*width: 25%;*/

}
/*Tabelle verschindet, wenn Frage angezeigt wird.*/
body.question-active .question-table{
    display: none;
/*visibility: hidden;*/
}
body.question-inactive .questionAndAnswerBackground{
    display: none;
    /*visibility: hidden;*/
}
body.answer-inactive .answerField{
    display: none;
    /*visibility: hidden;*/
}




.questionSpaceBox-css{
   /* -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
      box-sizing: content-box;*/
/*background-color: #a8afb7 ; !*#656f6f,#405166*!*/
    padding: 30px;
    text-align: center;
    /*background: white ; !*#656f6f,#405166*!*/
    /*background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ; !*#656f6f,#405166*!*/
    font-size: 35px;
    top:20%;
    /*left:10%;*/

    /*position: fixed;*/
    height: 30%;
    z-index: -5;
    /*-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* background: #22a5d8;*/


}



.questionBoxes-css{
    transition: width 1s, height 1s, margin-top 1s, margin-left 1s;

}


/*Footer*/
.playerNameContainer {
    position:  fixed ;

    /*left: 0px;*/
    bottom: 0px;
    height: 30%;
    width: 100%;
    background-color: white;
    background: white;
    /*  background-color: #996600;
      background: #000066;*/
    /* For browsers that do not support gradients */
    /*   background: -webkit-linear-gradient(left top, #CC9900, #996600);*/
    /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #CC9900, #996600);*/
    /* For Opera 11.1 to 12.0 */
    /*  background: -moz-linear-gradient(bottom right, #CC9900, #996600);*/
    /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #CC9900, #996600);*/
    /* Standard syntax */
    z-index: -47;
}

.playerNameBoxes-css {
    z-index: -4;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    font-size: 30px;
    bottom: 14%;
    height: 10%;
    width: 13%;
    /*margin: 20px;*/
    /*padding: 20px;*/
    /*  overflow: hidden;*/
    /*   border: 5px solid;*/
    /*-webkit-border-radius: 12px;*/
    /*border: 5px solid #000000;*/
    /*border-radius: 5px;*/

    /*color: rgba(0, 0, 0, 1);*/
    text-align: center;
    line-height: 250%; /* <-- this is what you must define */
    vertical-align: middle;
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /* background: #22a5d8;*/
    background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ;
    /*-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);*/
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
    /*background-color: white;*/
    border-right: 1px solid black;
    border-left: 1px solid black;

}
.playerNameBoxes2-css {
    background: linear-gradient(to left, #656f6f 0%, #abbacc 100%) ;
    position: fixed;
    padding: 1px;
    line-height: 250%; /* <-- this is what you must define */
    vertical-align: middle;
    font-size: 30px;
    bottom: 5%;
    width: 13%;
    height: 8%;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.playerNameBoxes2-css3 {

    position: fixed;
    font-size: 30px;
    bottom: 5%;
    /*float: right;*/
    /*visibility: hidden;*/

    /*            left: 0px;
                bottom: 0px;
                height: 64px;*/
    width: 13%;

    text-align: center;
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /* background: #22a5d8;*/
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    /*background-color: white;*/

}







input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
    color: #000000;
    width: 400px;
    height: 100px;
    margin: 0.5em 1em 0.5em 1em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
    outline: none;
}

textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}





/*Das blau gelbe Board*/




/*Überschriften*/
th {
    text-decoration: none;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: -1px;
    /*height: 2.8em;*/
    color: white;
    border: 1px solid #000000;
    background: #000066;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0000CC, #000066);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0000CC, #000066);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0000CC, #000066);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0000CC, #000066);
    /* Standard syntax */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    z-index: -47;
}

/*tabellenbody*/
td {
    font-size: 1.1em;
    padding: 1em, 1em, 1em, 1em;
    text-align: center;
    height: 1.8em;
    /*hier breite ändern*/
    width: 10%;
    /*color: #FF0;*/
    color: white;
    border: 1px solid #000000;
    text-decoration: bold;

    background: #000066;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0000CC, #000066);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0000CC, #000066);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0000CC, #000066);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0000CC, #000066);
    /* Standard syntax */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    z-index: -47;

}




