.playerNameBoxes-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    visibility: hidden;

    /*            left: 0px;
                bottom: 0px;
                height: 64px;*/
    width: 12%;
    margin: 20px;
    padding: 20px;
    /*  overflow: hidden;*/
    border: 5px solid;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #22a5d8;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*
.zoomTarget{
   border: 5px solid;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    background: #22a5d8;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
*/


/*Footer*/
.playerNameContainer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 104px;
    width: 100%;
    border-top: 3px solid;
    background: #E0E0E0;
}

.questionContainer-css {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 100px;
    /*  bottom: 100px;*/
    height: 204px;
    width: 80%;
    border-top: 3px solid;
    background: #E0E0E0;
}

/*.questionBoxes-css {


    border: 5px solid;
    -webkit-border-radius: 12px;
    border-radius: 5px;
    font: normal 16px/1 Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;

    background: #22a5d8;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}*/

.questionUeberschrift-css {

    font: normal 16px/1 Arial, Helvetica, sans-serif;

    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
th {
    border-right: 2px solid #000;
}
td{
    width: 25%;
    height: 30px;
}



/*  Blau Gelber Tabellen Style  */

/* for jQuery classes only */


/* do not add new css here */

.display-default {
    color: #FFFF00;
    font-size: 2.4em;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1;
}

.display-question {
    color: #FFFF00;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    letter-spacing: -1;
}

.display-answer {
    color: #FFFF00;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0;
}

.board {
    display: none;
}

@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://db.onlinewebfonts.com/c/09f4ed9d9dd54c0a610fa16d5770b837?family=ITCKorinnaW03-Kursiv);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);
#UserInterface {
    color: #000000;
    width: 100%;
    /* height: 715em;*/
    margin: -1em -1em -1em -1em;
    padding: 1em 1em 1em 1em;
    z-index: 10;
    background-color: #F0F0F0;
}

#logo_Jeopardy {
    width: 30%;
    margin: 1em 1em 1em 1em;
}

#gameType {
    color: #000000;
    margin: 0em 0em 0em 1em;
    font-size: 1.2em;
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    z-index: 10;
}

.gameType-TXT:hover {
    cursor: default;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
}

#subheading {
    color: green;
    margin: 0em 0em -1em 0em;
    padding: 1em 1em 1.2em 1em;
    font-size: 1.2em;
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
    font-weight: bold;
    z-index: 10;
}

input[type=text] {
    color: #000000;
    width: 200px;
    margin: 0.5em 1em 0.5em 1em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
    outline: none;
    font-family: -apple-system , 'Raleway', '.SFNSText-Regular','Arimo','FreeSans', 'Oxygen','Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial','ITCKorinnaW03-Kursiv',sans-serif;
}
input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
    color: #000000;
    width: 400px;
    height: 100px;
    margin: 0.5em 1em 0.5em 1em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 1px solid #DDDDDD;
    outline: none;
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
}

textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

button {
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
    margin: 1em 1em 1em 1em;
}

#submit {
   /* position: absolute;*/
    display: inline-block;
}


#submit button {
    display: inline;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    color: #4a4a4a;
    border: 1px solid rgba(217, 217, 217, 0.7);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 1px 1px rgba(244, 244, 244, 0.7), inset 1px 0 0 rgba(222, 222, 222, 0.7), inset -1px 0 0 rgba(200, 200, 200, 0.7), 0 1px 0 rgba(180, 180, 180, 0.7);
    background-color: rgba(200, 200, 200, 0.7);
    background-image: -webkit-linear-gradient(top, rgba(241, 241, 241, 0.7), rgba(200, 200, 200, 0.7));
    background-image: -moz-linear-gradient(top, rgba(241, 241, 241, 0.7), rgba(200, 200, 200, 0.7));
    background-image: -ms-linear-gradient(top, rgba(241, 241, 241, 0.7), rgba(200, 200, 200, 0.7));
    background-image: -o-linear-gradient(top, rgba(241, 241, 241, 0.7), rgba(200, 200, 200, 0.7));
    background-image: linear-gradient(top, rgba(241, 241, 241, 0.7), rgba(200, 200, 200, 0.7));
    letter-spacing: 0px;
}

#submit button:hover {
    cursor: pointer;
    color: #3c3c3c;
    border-color: rgba(170, 170, 170, 0.7);
    background-color: rgba(130, 130, 130, 0.7);
    text-shadow: 1px 1px 0 #f4f4f4;
    box-shadow: inset 0 1px 0 rgba(200, 200, 200, 0.7), inset 1px 0 0 rgba(200, 200, 200, 0.7), inset -1px 0 0 rgba(200, 200, 200, 0.7), 0 1px 0 rgba(140, 140, 140, 0.7);
}

#question {
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
}

#answer {
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Oxygen);
/*#board {
    margin: 2em, 2em, 2em, 2em;
    z-index: -47;
}

p:hover {
    cursor: default;
}

table {
    color: black;
    width: 100%;
    border: 1px solid #000000;
    background-color: #996600;
    background: #000066;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #CC9900, #996600);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #CC9900, #996600);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #CC9900, #996600);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #CC9900, #996600);
    /* Standard syntax */
    z-index: -47;
}

td {
    font-size: 2.4em;
    padding: 1em, 1em, 1em, 1em;
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
    text-align: center;
    height: 2.4em;
    color: #FF0;
    border: 1px solid #000000;
    text-decoration: bold;
    background: #000066;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0000CC, #000066);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0000CC, #000066);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0000CC, #000066);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0000CC, #000066);
    /* Standard syntax */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    z-index: -47;
}

/*td:hover {
    cursor: cell;
}*/

th {
    text-decoration: none;
    font-family: -apple-system, 'Raleway', '.SFNSText-Regular', 'Arimo', 'FreeSans', 'Oxygen', 'Nimbus Sans L', 'Liberation Sans', 'Helvetica Neue LT Std', 'Helvetica', 'Arial', 'ITCKorinnaW03-Kursiv', sans-serif;
    font-size: 2.4em;
    text-align: center;
    letter-spacing: -1px;
    height: 2.8em;
    color: white;
    border: 1px solid #000000;
    background: #000066;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #0000CC, #000066);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0000CC, #000066);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0000CC, #000066);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0000CC, #000066);
    /* Standard syntax */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    z-index: -47;
}

th:hover {
    cursor: default;
}

/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400);*/
#openUI {
    float: center;
    width: 100%;
    clear: none;
    text-align: center;
    padding: 60px 0;
    position: relative;
}

span#expand {
    position: absolute;
    top: 62px;
    left: 46.5%;
    padding: 10px 42px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #ddd;
    z-index: 2;
    opacity: 0;
    transition: ease all .8s;
}

button {
    border: 1px solid #f00;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 300;
    background: transparent;
    color: #f00;
    z-index: 4;
    left: 46.4%;
    background: #fff;
    position: absolute;
    cursor: pointer;
    transition: ease all .5s;
}

button:hover {
    background: #0f0;
    font-weight: 300;
    text-shadow: 1px 0 0px #ddd;
    color: #fff;
    border: 1px solid #090;
}
